<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1472712739516-7ad2b786e1f7?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <%= image_tag "https://avatars.githubusercontent.com/u/144142847?v=4", class: "avatar-large mb-2", alt: "avatar-large" %>
    <div class="container-text">
      <h1>Rico Paum</h1>
      <p class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus praesentium cumque, expedita fugiat enim nam.</p>
    </div>
  </div>
</div>


<%# https://avatars.githubusercontent.com/u/144142847?v=4 %>
