<div class="container mt-3">
  <% @projects.each do |project| %>
    <%= link_to project_path(project), class: "card-link" do %>
      <div class="card-project">
        <%= cl_image_tag(project.photos.first.key) if project.photos.attached? %>
        <div class="card-project-infos">
          <h2><%= project.name %></h2>
          <p>End goal: <strong><%= project.end_goal %></strong></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
