.navbar {
  background-color: #010101;

  .container-fluid {
    display: flex;
    justify-content: center;

    ul {

    }

    .nav-link {
      color: white;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
